@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --bgcolor: #3b61d1;
    --text-color: rgb(24, 24, 24);
    --second-text-color: #1D3557;
    --orange: #ecf6f7;
    --yellow: rgb(203, 206, 31);
    --red: #ef233c;
}
*{
    margin: 0;
    padding: 0%;
}
body {
    
    width: 100vw !important;
    height: 100vh !important;
    color: var(--text-color);
    overflow: hidden;
}

.container {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--bgcolor);
}


.row.container .group {
    padding: 30px;
}


.row.container .title {
  
    color: rgb(251, 252, 196);
    font-family: Montserrat;
    font-weight: 800;
    font-size: 10rem;
   
}

.row.container .subtitle {
    color: rgb(228, 228, 228);
    font-family: Poppins;
    font-weight: 600;
    font-size: 35px;
}

.row.container .body {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
     margin-bottom: 5rem;
     color: rgb(228, 228, 228);
}

.row.container .body .more {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: rgb(228, 228, 228); 
    transition: 400ms all;
}
.row.container .body .more:hover{
    color: red;
}

.row.container .body .more:visited {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color:var(--red);
}

.row.container .footer {
    display: flex;
    margin-top: 8rem;
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
}

.row.container .footer .empresa {
    margin-right: 2rem;
    border-radius: 10px;
    padding: 30px;
    background: var(--yellow);
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    color:var(--second-text-color);
    transition: 400ms ease-out;
}
.row.container .footer .empresa:hover{
    background:var(--second-text-color);
    color:  var(--yellow);
}

.row.container .footer .usuario {
    padding: 30px;
    background: var(--second-text-color);
    border-radius: 10px;
    font-family: Poppins;
    font-weight: 600;
    text-decoration: none;
    color:var(--orange);
    transition: 400ms ease-out;
}
.row.container .footer .usuario:hover {
    background:var(--orange);
    color:var(--second-text-color);
}
img{
    width: 40rem;
}



.group .form{
    display: flex;
    flex-direction: column;
}

.group .form .form-group{
    display: flex;
    justify-content: space-around;
  
}

.group .form .bottom{
    margin: 50px;
}

.createaccount{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px;
    font-family: Poppins;
    font-weight: 500;
    font-size:18px;
    text-decoration: none;
    background:  #264653;
    color: white;
    
}

@media screen and (max-width:600px){
    .hide-sm{
        display: none;
    }
    .row.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .row.container .title {       
        font-size: 4rem;
       
    }
    
    .row.container .subtitle {       
        font-size:2rem;
    }
    
    .row.container .body {       
        font-size: 14px;
         margin-bottom: 5rem;
    }

    .group{
        padding: 0;
    }

    .row.container .footer{
        flex-direction: column;        
    }
    .row.container .footer .empresa {
       padding: 20px;
       font-size: 12px;
       margin:20px;
    }
    .row.container .footer .usuario {
        margin-top: 60px;
        padding: 20px;
        font-size: 12px;
        margin:20px
    }
    .row.container .body .more {        
        font-size: 12px;
        
    }
    .small{
        width: 100% !important;
    }
 
}
@media screen and (max-width:1068px){
    .hide-sm{
        display: none;
    }
    .row.container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .row.container .title {       
        font-size: 6rem;
       
    }
    
    .row.container .subtitle {       
        font-size:2rem;
    }
    
    .row.container .body {       
        font-size: 14px;
         margin-bottom: 5rem;
    }

    .group{
        padding: 0;
    }

    .row.container .footer{
        flex-direction: column;        
    }
    .row.container .footer .empresa {
       padding: 20px;
       font-size: 12px;
       margin:20px;
    }
    .row.container .footer .usuario {
        margin-top: 60px;
        padding: 20px;
        font-size: 12px;
        margin:20px
    }
    .row.container .body .more {        
        font-size: 12px;
        
    }
    .small{
        width: 100% !important;
    }
 
}